:root {
  --color-accent: #5f3dc4;
  --color-info: #868e96;
  --color-link: #495057;
}

* {
  font-family: Inter, sans-serif;
  line-height: 1.5rem;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: calc(100% - 4rem);
  padding: 3rem 0;
  max-width: 50rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-lg {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.025rem;
  margin-bottom: 0.5rem;
}

.title-md {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.title-sm {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}

.title-accent {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--color-accent);
  margin-top: 0.5rem;
}

.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.group {
  border-top: 3px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-sub {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-end;
}

.header-intro {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
}

.title-link {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.tech {
  color: var(--color-info);
}

.period {
  font-weight: bold;
  color: var(--color-accent);
}

.role {
  color: var(--color-info);
}

.item {
}

.separator {
  border-top: 1px solid var(--color-accent);
  margin: 1rem 0;
}

address {
  font-style: normal;
}

a {
  color: var(--color-info);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

/* 프린트 시 간격 달라지도록 */

ul {
  padding-left: 1.25rem;
  margin: 0;
}

ul li + li {
  margin-top: 0.25rem;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .header-sub {
    align-items: flex-start;
  }
}

@media print {
  html {
    /* 1rem 크기 조절 */
    font-size: 12px;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-top: 2rem;
  }

  main {
    gap: 1.5rem;
  }

  ul li + li {
    margin-top: 0;
  }

  .separator {
    margin: 0.5rem 0;
  }
}
